@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #13a4ec;
  --background-dark: #101c22;
  --card-dark: #192b33;
  --card-hover: #233c48;
  --border-dark: #325567;
}

body {
  margin: 0;
  background-color: var(--background-dark);
  color: #ffffff;
  font-family: 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

/* Custom scrollbar para áreas específicas */
.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}